@font-face {
    font-family: "hywh";
    src: url(../fonts/hywh.ttf);
}

@font-face {
    font-family: "syht";
    src: url(../fonts/syht.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "hywh";
    color: black;
    transition: all .2s ease-out;
    user-select: none;
}

.flexbox {
    display: flex;
}

.flex-in-center {
    justify-content: center;
    align-items: center;
}

.flexbox.column {
    flex-direction: column;
}

.flexup {
    flex: 0 1 auto;
}

.flexcenter {
    flex: 1 1 auto;
}

.flexbottom {
    flex: 0 1 auto;
}

body {
    background-color: rgb(255, 235, 197);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: none;
}

#nav {
    background-color: orange;
    width: 100%;
    position: relative;
    z-index: 2;
    align-items: center;
    -webkit-app-region: drag;
}

#title,
#menu-list {
    margin-right: auto;
}

#title {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-left: 0;
}

#menu-list,
#control-bar {
    -webkit-app-region: no-drag;
}

#control-bar {
    margin-right: 20px;
    margin-left: auto;
}

.margin-l {
    margin-left: 20px;
}

#loginbar {
    background-color: rgb(255, 249, 237);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    position: relative;
}

#loginbar.big {
    width: 40%;
}

#loginbar.small {
    width: 30%;
}

#game-panel {
    padding: 20px;
    justify-content: center;
}

button {
    border: 1px orange solid;
    background-color: white;
    padding: 10px 15px;
    color: orange;
    border-radius: 5px;
    margin: 5px;
}

button.big {
    width: 90%;
    height: 40px;
}

button.small {
    width: 40%;
    height: 40px;
}

button.padding-small {
    padding: 5px 10px;
}

button.black {
    border-color: black;
    color: black;
}

button:hover {
    border: 1px orange solid;
    background-color: rgb(255, 235, 197);
}

button.black:hover {
    color: orange;
}

button.label {
    padding: 5px 10px;
    background-color: transparent;
    color: orange;
    margin: 10px;
    border-radius: 15px;
    border: none;
}

button.label.circle {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

button.label.white {
    background-color: transparent;
    color: white;
}

button.label:hover {
    background-color: rgb(255, 235, 197);
    color: orange;
}

button.label.white:hover {
    background-color: rgb(255, 188, 64);
    color: white;
}

button.label.selected {
    background-color: orange;
    color: white;
}

button.label.white.selected {
    background-color: white;
    color: orange;
}

.textcenter {
    text-align: center;
}

#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#userinfo {
    align-items: center;
    justify-content: center;
}

#launchbar {
    margin-bottom: 20px;
    width: 100%;
}

#username {
    font-size: 20px;
}

.fa,
.color-inherit {
    color: inherit;
}

#accountset {
    display: flex;
    background-color: rgb(255, 238, 206);
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 10px;
}

#return-btn {
    color: white;
    -webkit-app-region: no-drag;
    margin-left: -25px;
    opacity: 0;
}

#title-push {
    align-items: center;
    flex: 1;
}

#launch-menu {
    width: 100%;
}

span.small {
    font-size: 14px;
}

span.gray {
    color: gray;
}

#client-menu {
    position: absolute;
    left: -100%;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.selector .option {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: orange;
    border: rgb(255, 249, 237) 1px solid;
    border-left-width: 0;
    border-right-width: 0;
    background-color: rgb(255, 249, 237);
    display: block;
    position: relative;
}

.selector .option::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    width: 5px;
    height: 0%;
    background-color: orange;
    border: none;
}

.selector .option.selected::before {
    height: 100%;
}

.selector .option:hover {
    background-color: rgb(255, 238, 206);
    border-color: rgb(255, 226, 171);
}

.client-menu-title {
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
}

#client-list,
#append-client {
    margin-top: 5px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal .container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

.modal .container .title {
    color: orange;
    border-bottom: 2px orange solid;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.modal .container .buttons {
    text-align: right;
}

input {
    border: rgb(255, 235, 197) 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 249, 237);
    margin: 5px;
}

input::placeholder {
    color: rgb(255, 226, 171);
}

input.wide {
    width: 100%;
}

span.label {
    background-color: orange;
    border-radius: 5px;
    padding: 3px 5px;
    color: white;
    margin-left: 5px;
}

#launch {
    height: fit-content;
}